# 示例内容
.idea/
.specstory/  # 明确过滤该目录
db.sqlite3
__pycache__/
node_modules/
*.log
models/RAF-DB/
models/CK+48/
models/CK+48more/
models/checkpoints-7labels/
models/checkpoints-7labels-plus/
训练人脸检测模型\TestShenDu\Facedata\